@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');



html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  
}

.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #171818;
  color: hwb(0 82% 15% / 0.961);
}


/* ******************************NAVBAR*****************************************/
.brand span{
   color: #9871ff
} 

.brand{
  color: #ff9871;
  margin-top: -7px;
}
.mail{
  margin-top: 6px;
  margin-left: -350px;
  font-size: 10px;
}


.navbar{
 display: flex ;
 justify-content: space-between;
 padding: 2em;
}

.rutas a {
  color: hwb(0 85% 11%);
  text-decoration: none;
  padding: 5px 10px;
  
}
.rutas li {
  list-style: none;
}
.rutas {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

/* .rutas .activo{
  color: #ceffae


} */

.rutas a:hover{
  background-color: #cefeaec4 ;
  color: black;
  border-radius: 2px;
  border-width: 10px;
  transition: ease-out .30s;
}

/* ******************************HOME*****************************************/

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items:center;
}
 
h1{
  font-size: 3em;
}
/* .nom{
  color: #ff9871;
}
.ape{
  color: #9871ff;
} */
/* .main span{
  color: #9871ff
} */

button {
  background-color: #cefeaee1 ;
  padding: 10px 20px;
  border: none; 
  border-radius: 2px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px;
  text-decoration: none;
  transition: .4s ease;

} 
button:hover{
  box-shadow: 0 0 1px #cefeaee1,
              0 0 3px #cefeaee1,
              0 0 9px #cefeaee1,
              0 0 10px #cefeaee1;

}



.main img{
  width: 400px;
  border: 5px ridge #9871ff;
  border-top: 5px ridge #9871ff ;
  border-left:5px ridge  #ff9871;
  border-right: 5px ridge #ff9871;
  border-width: 30cm ridge #9871ff;
  margin-left: 30px;
}


.about{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  background-color:rgb(255, 255, 255);
  align-items: center;
  color: #000;
  border: 1px solid #9871ff 
}
 .about img {
   width: 500px;
   height: 450px;
   grid-column: 1/5;
   margin-left: 30px;
 }

.infoAbout{
  grid-column: 10/5;
  padding: 3em;
  margin-left: -20px;
  color:#000;
}

.infoAbout h2{
  font-size: 2em;
  color:black;
}

.divider{
  height: 4px;
  width: 60px;
  background-color:#9871ff;
}

.about p {
  color: black;
  font-weight:600;
  margin-top: 40px;
}

.button2{
  margin-top: 30px;
}

.divider2{
  height: 4px;
  width: 60px;
  background-color:#ed6a3a;
}


/******************************************PORTFOLIO*******************************************/
.portfolio{
  color:beige;
  width: 100vw;
  background-color:#171818;
  ;
}

.portfolio-headings{
  width: 100%;
/*   display: flex;
  flex-direction: column;
  justify-content: center; */
  padding: 5em;
}

.portfolio-headings h2{
  font-size: 2em;
}

.portfolio .container{
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card{
  color:#000;
  width: 400px;
  height: 450px;
  border: 2px solid #ede5e3;
  margin: 1em;
  background-color:rgb(255, 250, 250) ;
  border-radius: 20px;
}

.card-img{
  width: 100%;
  height: 180px;
  background-image: url(../img/portfolio-proyects-ilustracion-concepto-abstracto-mantenimiento-sitio-web_335657-3689.jpg);
  background-size: cover;
  border-radius: 20px;

  
}

.card-img-1{
  width: 100%;
  height: 180px;
  background-image: url(../img/ECOMMERCE-front.png);
  background-size: cover;
  border-radius: 20px;
}

.card-img-2{
  width: 100%;
  height: 180px;
  background-image: url(../img/pi-food.png);
  background-size: cover;
  border-radius: 20px;

}

.card-title{
  padding: 28px;

}

.project-links{
  display: flex;
  justify-content: space-evenly;
}

.project-links a {
  color:#6f5ca3;
  text-decoration: none;
  font-size: 24px;
}

.project-links i{
  font-size: 1.5em;
}

.card .proyect-details{
  display: flex;
  justify-content: center;
  margin: 1em;
}


/************************************CONTACT*********************************** */
.contact-section{
/*   padding: 3em; */
  background-image: url(../img/contacto-ejemplo-del-garabato-apretón-de-manos-121420494.jpg);
  color:beige ;
 background-repeat: no-repeat

}

.container-contact{
  padding: 3em;
  margin: 0 auto;
  margin-left: 800px;
  color: #171818;
}

.contact-headings h2{
  font-size: 2em;
  color: #171818;
}

.form-control{
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top:3em;
}
.form-control input{
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1.5px solid #9871ff;
  color: beige;
}

.form-control textarea{
height: 150px;
background: none;
color: beige;
border:1.5px solid #9871ff ;
padding: 1.5em;
}


.footer{
  background-color:#171818;
  color:beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 3em;
}

 .footer-content h5{
  margin-top: 10px;
} 

.social-network{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 20px;
}

.social-network i{
  font-size: 1.5em;

}


